
kreeckacademy/.env/
.env
credentials
.venv
venv
# Ignore local development directories (if needed)
.static/
.staticfiles/
.media/
.media_root/
media_root/
Contributions.md
.coverage
commit_frequency_chart.png
coverage.xml
Report.md
historical_comparison_chart.png
historical_contributions.json
.coverage
migrations/
.migrations
__pycache__/
.__pycache__/
.__pycache__
.vscode
/.pyc
SECURITY_CERTIFICATES
*.pyc