django
reportlab
pytz
django-debug-toolbar
python-slugify
Pillow
rcssmin
argon2-cffi
whitenoise
redis
hiredis
django-cleanup
python-decouple
django-environ
django-model-utils
django-crispy-forms
crispy-bootstrap5
django-compressor
django-redis
django-tailwind
pygame
#django storage
azure-storage-blob
# Django REST Framework
djangorestframework
django-cors-headers
# DRF-spectacular for api documentation
drf-spectacular


sphinx
sphinx-autobuild
flake8
flake8-isort
coverage
black
pylint-django
pre-commit
factory-boy

django-debug-toolbar
django-extensions
django-coverage-plugin
pytest-django
gunicorn
psycopg2-binary
boto3
django-storages[boto3]==1.13.1  # https://github.com/jschneier/django-storages
django-anymail[amazon_ses]==9.0  # https://github.com/anymail/django-anymail


#caching system using memcache, we will store the caching data in the memory of the users device
pymemcache

#this willl add the rich text editor to everything i wanna do
django-tinymce

