{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="kreeck.com" />
    <link rel="shortcut icon" href="{% static 'img/kreeck_box_logo.svg' %}" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Open Graph meta tags for social media sharing -->
    <meta property="og:title" content="Kreeck Academy">
    <meta property="og:description" content="Your Path to Knowledge and Skills">
    <meta property="og:url" content="https://academy.kreeck.com">
    <meta property="og:image" content="{% static 'img/kreeck_box_logo.svg' %}">
    <meta property="og:type" content="website">

    <!-- Twitter Card meta tags for Twitter sharing -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Kreeck Academy">
    <meta name="twitter:description" content="Your Path to Knowledge and Skills">
    <meta name="twitter:image" content="{% static 'img/kreeck_box_logo.svg' %}">
    <meta name="twitter:url" content="https://academy.kreeck.com">
    <title>{% block title %}Sign in | Kreeck Academy{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/auth.bootstrap.css' %} ">
    <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/inter" rel="stylesheet">
                


    <style>
        @import url('https://fonts.cdnfonts.com/css/inter');
        .mobile-logo {
            display: none;
        }

        @media (max-width: 976px) {
            body {
                margin: 0rem;
                padding: 0rem;
            }

            .right {
                display: none;
            }

            .left {
                display: flex;
                justify-content: center;
                height: 95vh;
                margin: 1rem;
                padding: 0rem;
            }

            .terms {}

            .signin-title {
                display: none;
            }

            .logo {
                display: flex;
            }

            .signup {
                margin-top: 1rem;
            }

            .mobile-logo {
                display: block;
                display: flex;
                justify-content: center;
                margin-bottom: 2rem;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="main-container">
            <div class="right">
                <div class="header">
                    <div class="logo">
                        <a href="">
                            <img src="/static/img/Logo.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="center-content-left">
                    <h5 class="welcome">
                        Welcome to <span class="link">Kreeck Academy</span>
                        .
                    </h5>
                    <h1 class="signin">Sign In</h1>
                </div>
            </div>
            <div class="left">
                <div class="header">

                    <div class="signup">
                        <p>
                            don't have an account? <a href="{% url 'add_student' %}" class="link">Sign Up</a>
                        </p>
                    </div>
                </div>
                <div class="center-content">
                    <div class="mobile-logo">
                        <h5 class="">Sign in to your <span style="font-weight: 700;">Kreeck</span> account.</h5>
                    </div>
                    <h5 class="signin-title pb-4">Sign in to your Kreeck account.</h5>
                    <form action="{% url 'login' %}" class="form" method="post" id="login-form">
                        {% csrf_token %}
                        {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                        <div class="inputContainer">
                            <input type="text" name="username" id="username_id" class="input" placeholder="a" required>
                            <label for="exampleInputEmail1" class="label">Username
                                or Email</label>
                        </div>
                        <div class="inputContainer">
                            <input type="password" name="password" id="password_id"class="input" placeholder="a" required>
                            <label for="" class="label">Password</label>
                        </div>
                        <div class="buttons">
                            <p class="small-text">Or sign in with</p>
                            <div class="forgot">
                                <p class="small-text mt-3 text-center">
                                    Forgot password? <a href="{% url 'password_reset' %}" class="link">Reset Password</a>
                                </p>
                            </div>

                            <input type="submit" class="btn btn-secondary" value="Sign in">

                        </div>
                    </form>
                    <a href="" class="btn btn-outline-primary " aria-disabled="true">Continue with Github</a>
                    <a href="" class="btn btn-outline-primary mt-2">Continue with Google</a>

                </div>
                <div class="bottom">
                    <div class="terms">
                        <p class="text-center small-text">By continuing, you agree to the kreeck academy terms of service
                            and privacy notice.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#login-form').submit(function (e) {
            // e.preventDefault();
            $('#login-btn').addClass('disabled')
            $('#login-btn').html(`<i class="fas fa-sign-in-alt"></i> Logging you in . . .`)
        })

        $("#username").on("input", function () {
            username = $(this).val();

            $.ajax({
                url: "/accounts/ajax/validate-username/",
                data: {
                    username: username
                },
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                        console.log(data.is_taken);
                        $('#message-wrapper').html(`<p class="my-2 alert alert-danger"><span class="bg-error p-2"><b>${username}</b> already taken :( try another one </span></p>`)
                    }
                    else {
                        $('#message-wrapper').html(`<p class="my-2 alert alert-success"><span class="bg-correct p-2"><b>${username}</b> is valid </span></p>`)
                    }
                }

            })
        })
    </script>
</body>

</html>