<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="/___vscode_livepreview_injected_script"></script>
    <script type="text/javascript" src="/___vscode_livepreview_injected_script"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="kreeck.com" />
    <link rel="shortcut icon" href="/static/img/kreeck_box_logo.svg" />
    <!-- Bootstrap CSS -->
    <link href="/static/css/white.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="">
    <link href="/static/css/white.theme.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>Dashboard | Kreeck Academy</title>
    <link href="/static/css/newdash.css" rel="stylesheet" />
    <style>


    </style>
</head>

<body>

    <div class="custom-container ">
        <div class="body-container">
            <div class="sidenav" id="sidenav">
                <div class="fixed-sidenav-container">
                    <div class="top-container mt-2">
                        <div class="logo ml-3">
                            <a href="#"><img src="/static/img/icons/text_logo.svg" alt=""></a>

                        </div>
                        <div class="nav-btns mt-5">
                            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                                <li><a href="" class="sidenav-link "><i><img src="/static/img/icons/dashboard_icon.svg"
                                                alt=""></i>
                                        Dashboard</a></li>
                                <li><a href="" class="sidenav-link"><i><img src="/static/img/icons/my_courses_icon.svg"
                                                alt=""></i>
                                        My Courses</a></li>
                                <li><a href="" class="sidenav-link"><i><img src="/static/img/icons/programs_icon.svg"
                                                alt=""></i>
                                        Programs</a></li>
                                <li><a href="" class="sidenav-link"><i><img
                                                src="/static/img/icons/manage_course_icon.svg" alt=""></i> Manage
                                        Courses</a></li>
                                <li><a href="" class="sidenav-link"><i><img src="/static/img/icons/certificate_icon.svg"
                                                alt=""></i>
                                        Certificate</a></li>
                                <li><a href="" class="sidenav-link"><i><img src="/static/img/icons/schedule_icon.svg"
                                                alt=""></i>
                                        Schedule</a></li>
                                <li><a href="" class="sidenav-link"><i><img
                                                src="/static/img/icons/course_builder_icon.svg" alt=""></i> Course
                                        builder</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="bottom-container mb-3">
                        <div class="nav-btns">
                            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                                <li class="active-green"><a href="" class="sidenav-link"><i><img
                                                src="/static/img/icons/compiler_icon.svg" alt=""></i>
                                        Code Compiler</a></li>
                                <li><a href="" class="sidenav-link"><i><img src="/static/img/icons/need_help_icon.svg"
                                                alt=""></i>
                                        Need Help?</a></li>
                                <li><a href="" class="sidenav-link"><i><img src="/static/img/icons/settings_icon.svg"
                                                alt=""></i>
                                        Settings</a></li>
                                <li><a href="" class="sidenav-link"><i><img src="/static/img/icons/logout_icon.svg"
                                                alt=""></i> Log
                                        Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="main-container sidenav-margin">

                <div class="main-navigation-container">
                    <nav class="navigation-bar">
                        <div class="left-top-navigation">
                            <div class="mobile-logo mr-3">
                                <a href="#"><img src="/static/img/icons/logo.svg" alt=""></a>

                            </div>
                            <div class="jumbo">
                                <div class="notification">
                                    <img src="/static/img/icons/notification_icon.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="right-top-navigation">
                            <div class="search">
                                <input type="search" class="form-control search-input"
                                    placeholder="Search Kreeck Academy">
                                <i class="fas fa-search search-icon"></i>
                            </div>

                            <div class="profile">
                                <div class="info">
                                    <h6>Dave Monama</h6>
                                    <p class="green-text text-bold">lecture</p>
                                </div>
                                <div class="profilePicture">
                                    <img src="/static/img/icons/default_profile_icon.svg" alt="">
                                </div>
                            </div>

                            <div class="sidebar-toggle">
                                <button id="toggleButton" class="toggle-btn"><img
                                        src="/static/img/icons/right_sidebar.svg" alt=""></button>
                            </div>
                            <div class="menu-toggle">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span><img src="/static/img/icons/toggle_menu_icon.svg" alt=""></span>
                                </button>
                            </div>

                        </div>

                    </nav>


                </div>

                <!-- Start Main Content -->
                <div class="main-content">
                    <section class="chart-section">
                        <div class="chart-container">
                            <div class="charts">
                                <div class="welcome-card">
                                    <div class="card">
                                        <div class="title">
                                            <h5>Welcome back Kreeck!</h5>
                                        </div>
                                        <div class="body">
                                            <img src="/static/img/icons/welcome_icon.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="normal-card green-bg text-white ">
                                    <div class="header">
                                        <div class="left">
                                            <h6>Number of students</h6>
                                        </div>
                                        <div class="right">
                                            <p> <i><img src="/static/img/icons/dropdown_icon.svg" alt=""></i>Yearly</p>
                                        </div>

                                    </div>

                                    <div class="bottom">
                                        <div class="body">
                                            <h1 class="text-bold">1,427</h1>
                                            <div class="img-container">
                                                <img src="/static/img/icons/studeent_icon.svg" alt="">
                                                <img src="/static/img/icons/studeent_icon.svg" alt="">
                                                <img src="/static/img/icons/studeent_icon.svg" alt="">
                                                <img src="/static/img/icons/studeent_icon.svg" alt="">
                                                <img src="/static/img/icons/studeent_icon.svg" alt="">
                                                <img src="/static/img/icons/studeent_icon.svg" alt="">
                                                <img src="/static/img/icons/more_students_icon.svg" alt="">
                                            </div>
                                        </div>
                                        <h6>New Students</h6>
                                    </div>
                                </div>

                                <div class="card ">
                                    <div class="header"></div>
                                    <div class="body"></div>
                                    <div class="chart">
                                        <canvas id="myChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="revenue-chart">

                        </div>
                    </section>
                    <section class="table-section">

                    </section>
                </div>
                <!-- End Main Content -->
            </div>
        </div>
    </div>
    </div>
    <!-- Screen overlay -->
    <div class="screen-overlay" id="screenOverlay"></div>


    <!-- Include Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz4fnFO9gybCm3jPAe41JZnv1JmZPEK/bU2BfCEp3CIp9GqLGmSY6XK6zc"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-kuIpg5i8WK8k9OL2ENsH1lgD3AUBElYF0WlS5Ukz5y62fWxrGpk4xN32x5wWoz/T"
        crossorigin="anonymous"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var toggles = document.querySelectorAll('.icon');

            toggles.forEach(function (toggle) {
                toggle.addEventListener('click', function () {
                    var target = document.querySelector(this.getAttribute('href'));

                    toggles.forEach(function (otherToggle) {
                        if (otherToggle !== toggle) {
                            var otherTarget = document.querySelector(otherToggle.getAttribute('href'));
                            otherToggle.classList.remove('rotate');
                            otherTarget.classList.remove('show');
                        }
                    });

                    if (target.classList.contains('show')) {
                        this.classList.remove('rotate');
                    } else {
                        this.classList.add('rotate');
                    }
                });
            });

            $('.collapse').on('shown.bs.collapse', function () {
                var toggle = document.querySelector('a[href="#' + this.id + '"]');
                toggle.classList.add('rotate');
            });

            $('.collapse').on('hidden.bs.collapse', function () {
                var toggle = document.querySelector('a[href="#' + this.id + '"]');
                toggle.classList.remove('rotate');
            });
        });
    </script>

    <script>
        // this is the right side navigation js
        document.getElementById('toggleButton').addEventListener('click', function () {
            const sidenav = document.getElementById('rightSidenav');
            const overlay = document.getElementById('screenOverlay');

            // Toggle the 'show' class on the sidenav
            sidenav.classList.toggle('show');

            // Toggle the display of the overlay based on the 'show' class presence
            overlay.style.display = sidenav.classList.contains('show') ? 'block' : 'none';
        });

        // Hide the side navigation and overlay when clicking on the overlay
        document.getElementById('screenOverlay').addEventListener('click', function () {
            const sidenav = document.getElementById('rightSidenav');
            const overlay = document.getElementById('screenOverlay');

            sidenav.classList.remove('show');
            overlay.style.display = 'none';
        });

        // Close button functionality for right side navigation
        document.getElementById('closeToggleButton').addEventListener('click', function () {
            const sidenav = document.getElementById('rightSidenav');
            const overlay = document.getElementById('screenOverlay');

            // Remove the 'show' class from the sidenav
            sidenav.classList.remove('show');

            // Hide the overlay
            overlay.style.display = 'none';
        });

    </script>

    <script>
        // Toggle the side navigation and screen overlay
        document.getElementById('toggleSidenavButton').addEventListener('click', function () {
            const sidenav = document.getElementById('sidenav');
            const overlay = document.getElementById('screenOverlay');

            // Toggle the 'show' class on the sidenav
            sidenav.classList.toggle('show');

            // Toggle the display of the overlay based on the 'show' class presence
            overlay.style.display = sidenav.classList.contains('show') ? 'block' : 'none';
        });

        // Hide the side navigation and overlay when clicking on the overlay
        document.getElementById('screenOverlay').addEventListener('click', function () {
            const sidenav = document.getElementById('sidenav');
            const overlay = document.getElementById('screenOverlay');

            sidenav.classList.remove('show');
            overlay.style.display = 'none';
        });
    </script>
    <!-- Including Charts.js configuration CDNs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.js.map"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('myChart');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June'],
                datasets: [{
                    label: 'Number of learners',
                    data: [65, 59, 80, 81, 56, 55],
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        display: false
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        enabled: false
                    }
                },
                elements: {
                    point: {
                        radius: 0
                    }
                }
            }
        });
    </script>



</body>

</html>