<!DOCTYPE html>
<html lang="en">

<head><script type="text/javascript" src="/___vscode_livepreview_injected_script"></script>
    <script type="text/javascript" src="/___vscode_livepreview_injected_script"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="kreeck.com" />
    <link rel="shortcut icon" href="/static/img/kreeck_box_logo.svg" />
    <!-- Bootstrap CSS -->
    <link href="/static/css/white.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="">
    <link href="/static/css/white.theme.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>Dashboard | Kreeck Academy</title>
    <link href="/static/css/newdash.css" rel="stylesheet" />
    <style>
        .sidenav {
            position: fixed;
            top: 0;
            left: 0;
            width: 300px;
            height: 100%;
            overflow-y: auto;
            background-color: #f8f9fa;
            z-index: 1000;
            padding-top: 20px;
            padding-left: 1rem;
            /* padding-right: 1rem; */
        }

        .sidenav-margin {
            margin-left: 300px; 
            margin-right: 300px;
            padding-top: 100px;
        }

        .body-container {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <div class="custom-container">
        <div class="body-container">
            <div class="sidenav">
                <div class="fixed-sidenav-container">
                    <div class="top-container mt-5 mb-5">
                        <div class="logo">
                            <img src="/static/img/icons/full_logo_icon.svg" alt="">
                        </div>
                        <div class="nav-btns mt-5">
                            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                                <li><a href="" class="sidenav-link "><i><img src="/static/img/icons/dashboard_icon.svg"
                                                alt=""></i>
                                        Dashboard</a></li>
                                <li><a href="" class="sidenav-link"><i><img src="/static/img/icons/my_courses_icon.svg"
                                                alt=""></i>
                                        My Courses</a></li>
                                <li><a href="" class="sidenav-link"><i><img src="/static/img/icons/programs_icon.svg"
                                                alt=""></i>
                                        Programs</a></li>
                                <li><a href="" class="sidenav-link"><i><img
                                                src="/static/img/icons/manage_course_icon.svg" alt=""></i> Manage
                                        Courses</a></li>
                                <li><a href="" class="sidenav-link"><i><img src="/static/img/icons/certificate_icon.svg"
                                                alt=""></i>
                                        Certificate</a></li>
                                <li><a href="" class="sidenav-link"><i><img src="/static/img/icons/schedule_icon.svg"
                                                alt=""></i>
                                        Schedule</a></li>
                                <li><a href="" class="sidenav-link"><i><img
                                                src="/static/img/icons/course_builder_icon.svg" alt=""></i> Course
                                        builder</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="bottom-container mb-3">
                        <div class="nav-btns">
                            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                                <li class="active-green"><a href="" class="sidenav-link"><i><img src="/static/img/icons/compiler_icon.svg"
                                                alt=""></i>
                                        Code Compiler</a></li>
                                <li><a href="" class="sidenav-link"><i><img src="/static/img/icons/need_help_icon.svg"
                                                alt=""></i>
                                        Need Help?</a></li>
                                <li><a href="" class="sidenav-link"><i><img src="/static/img/icons/settings_icon.svg"
                                                alt=""></i>
                                        Settings</a></li>
                                <li><a href="" class="sidenav-link"><i><img src="/static/img/icons/logout_icon.svg"
                                                alt=""></i> Log
                                        Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-container sidenav-margin">

                <div class="main-navigation-container">
                    <nav class="navigation-bar mt-5">
                        <div class="left-top-navigation">

                            <div class="jumbo">
                                <div class="notification">
                                    <img src="/static/img/icons/notification_icon.svg" alt="">
                                </div>
                                <h6 class="jumbotron text-bold green-text">My Courses</h6>
                            </div>
                        </div>
                        <div class="right-top-navigation">
                            <div class="search">
                                <input type="search" class="form-control search-input"
                                    placeholder="Search Kreeck Academy">
                            </div>
                            <div class="profile">
                                <div class="info">
                                    <h6>Dave Monama</h6>
                                    <p class="green-text text-bold">lecture</p>
                                </div>
                                <div class="profilePicture">
                                    <img src="/static/img/icons/default_profile_icon.svg" alt="">
                                </div>
                            </div>
                            <div class="menu-toggle">
                                <a href=""><img src="/static/img/icons/toggle_menu_icon.svg" alt=""></a>
                            </div>
                        </div>

                    </nav>

                    <div class="title-section mt-3">
                        <div class="section-button ">
                            <a href="" class="text-decoration">
                                < back</a>
                        </div>
                        <div class="page">
                            <h4 class="text-bold mt-3">Course: <span class="page-title green-text"> Mathematical
                                    Literacy</span></h4>
                        </div>
                    </div>
                </div>

                <div class="main-content">
                    <div class="title mt-5 mb-3">
                        <h5 class="text-bold">Course Details</h5>
                    </div>
                    <div class="split-container">
                        <div class="course-content">
                            <div class="video-container">
                                <div class="preview-video">
                                    <img src="/static/img/icons/video_icon.svg" alt="">
                                </div>
                            </div>
                            <div class="course-stats-container">
                                <div class="title mt-5 mb-3">
                                    <h5 class="text-bold">Course Stats</h5>
                                </div>
                                <ul class="stats">
                                    <li class="normal-text"><i><img src="/static/img/icons/views_icon.svg" alt=""></i> +
                                        1,242</li>
                                    <li class="normal-text"><i><img src="/static/img/icons/live-session_icon.svg"
                                                alt=""></i> 1 Live Session per week</li>

                                    <li class="normal-text"><i><img src="/static/img/icons/access_icon.svg" alt=""></i>
                                        Access to content anytime</li>
                                    <li class="normal-text"><i><img src="/static/img/icons/test_icon.svg" alt=""></i> 6
                                        Assessments / 12 Quizzes</li>
                                    <li class="normal-text"><i><img src="/static/img/icons/time_icon.svg" alt=""></i> 23
                                        Lessons / 15 Hours</li>
                                    <li class="normal-text"><i><img src="/static/img/icons/exam_prep.svg" alt=""></i>
                                        Exam Prep Documents</li>

                                </ul>
                                <div class="buy-btn mt-2">
                                    <a href="" class="btn btn-primary"><i><img src="/static/img/icons/learn_icon.svg"
                                                alt="" width="auto" height="10"></i> Buy Now</a>
                                </div>

                            </div>
                        </div>
                        <div class="right-sidenav">
                            <h5 class="text-bold mb-5">Performance</h5>
                            <div class="performance-container">
                                <div class="performance">

                                    <div class="watched-lessons">
                                        <p class="text-bold"><i><img src="/static/img/icons/views_icon.svg" alt=""></i>
                                            Done
                                            0 / 24</p>
                                    </div>
                                    <p>Congratulations! got discovering
                                        this germ. Enroll to start learning.</p>
                                    <p class="text-bold green-text gap-1"><i><img src="/static/img/icons/stars_icon.svg"
                                                alt=""></i>0 / 50 Stars done</p>
                                </div>
                                <div class="picture">
                                    <img src="/static/img/icons/performance_icon.svg" alt="">
                                </div>
                            </div>
                            <h5 class="text-bold mt-5">Course Modules & Timeline</h5>
                            <p class="grey-text">0 / 10 Completed</p>
                            <div class="timeline">
                                <div class="modules"  id="accordion"></div>>

                                    <!-- Start Module -->
                                    <div class="module">
                                        <div class="module-info">
                                            <h6 class="d-flex align-items-center">
                                                <i class="mr-1"><img src="/static/img/icons/a_icon.svg" alt=""></i>
                                                The Theory of Programming
                                            </h6>
                                            <div class="dropdown-icon">
                                                <a href="#lessonDropdown1" data-toggle="collapse" data-parent="#accordion" class="icon">
                                                    <i><img src="/static/img/icons/dropdown_icon.svg" alt=""></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div id="lessonDropdown1" class="collapse">
                                            <div class="lessons mt-4">

                                                <!-- Lesson start -->
                                                <a href="" class="lesson mt-2">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/one_icon.svg" alt=""></i>
                                                            What is Financial Mathematics</p>
                                                    </div>
                                                    <div class="lesson-time">
                                                        <p class="grey-text text-small">14:34</p>
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                <!-- Lesson start -->
                                                <a href="" class="lesson mt-2">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/two.svg" alt=""></i>
                                                            What is Django</p>
                                                    </div>
                                                    <div class="lesson-time">
                                                        <p class="grey-text text-small">7:34</p>
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                <!-- Lesson start -->
                                                <a href="" class="lesson mt-2">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/three_icon.svg" alt=""></i>
                                                            What is an MVT structure</p>
                                                    </div>
                                                    <div class="lesson-time">
                                                        <p class="grey-text text-small">8:34</p>
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                <!-- Lesson start -->
                                                <a href="" class="lesson mt-2">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/four_icon.svg" alt=""></i>
                                                            What are Architectures</p>
                                                    </div>
                                                    <div class="lesson-lock">
                                                        <img src="/static/img/icons/lock_icon.svg" alt="">
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                <!-- Lesson start -->
                                                <a href=""  class="lesson">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/five_icon.svg" alt=""></i>
                                                            What are APIs</p>
                                                    </div>
                                                    <div class="lesson-lock">
                                                        <img src="/static/img/icons/lock_icon.svg" alt="">
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Module -->


                                    <!-- Start Module -->
                                    <div class="module">
                                        <div class="module-info">
                                            <h6 class="d-flex align-items-center">
                                                <i class="mr-1"><img src="/static/img/icons/a_icon.svg" alt=""></i>
                                                Introduction to Python
                                            </h6>
                                            <div class="dropdown-icon">
                                                <a href="#lessonDropdown2" data-toggle="collapse" data-parent="#accordion" class="icon">
                                                    <i><img src="/static/img/icons/dropdown_icon.svg" alt=""></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div id="lessonDropdown2" class="collapse">
                                            <div class="lessons mt-4">

                                                <!-- Lesson start -->
                                                <a href="" class="lesson mt-2">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/one_icon.svg" alt=""></i>
                                                            What is Financial Mathematics</p>
                                                    </div>
                                                    <div class="lesson-time">
                                                        <p class="grey-text text-small">14:34</p>
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                <!-- Lesson start -->
                                                <a href="" class="lesson mt-2">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/two.svg" alt=""></i>
                                                            What is Django</p>
                                                    </div>
                                                    <div class="lesson-time">
                                                        <p class="grey-text text-small">7:34</p>
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                <!-- Lesson start -->
                                                <a href="" class="lesson mt-2">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/three_icon.svg" alt=""></i>
                                                            What is an MVT structure</p>
                                                    </div>
                                                    <div class="lesson-time">
                                                        <p class="grey-text text-small">8:34</p>
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                <!-- Lesson start -->
                                                <a href="" class="lesson mt-2">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/four_icon.svg" alt=""></i>
                                                            What are Architectures</p>
                                                    </div>
                                                    <div class="lesson-lock">
                                                        <img src="/static/img/icons/lock_icon.svg" alt="">
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                <!-- Lesson start -->
                                                <a href=""  class="lesson">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/five_icon.svg" alt=""></i>
                                                            What are APIs</p>
                                                    </div>
                                                    <div class="lesson-lock">
                                                        <img src="/static/img/icons/lock_icon.svg" alt="">
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Module -->


                                    <!-- Start Module -->
                                    <div class="module">
                                        <div class="module-info">
                                            <h6 class="d-flex align-items-center">
                                                <i class="mr-1"><img src="/static/img/icons/a_icon.svg" alt=""></i>
                                                HTML & CSS
                                            </h6>
                                            <div class="dropdown-icon">
                                                <a href="#lessonDropdown3" data-toggle="collapse" data-parent="#accordion" class="icon">
                                                    <i><img src="/static/img/icons/dropdown_icon.svg" alt=""></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div id="lessonDropdown3" class="collapse">
                                            <div class="lessons mt-4">

                                                <!-- Lesson start -->
                                                <a href="" class="lesson mt-2">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/one_icon.svg" alt=""></i>
                                                            What is Financial Mathematics</p>
                                                    </div>
                                                    <div class="lesson-time">
                                                        <p class="grey-text text-small">14:34</p>
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                <!-- Lesson start -->
                                                <a href="" class="lesson mt-2">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/two.svg" alt=""></i>
                                                            What is Django</p>
                                                    </div>
                                                    <div class="lesson-time">
                                                        <p class="grey-text text-small">7:34</p>
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                <!-- Lesson start -->
                                                <a href="" class="lesson mt-2">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/three_icon.svg" alt=""></i>
                                                            What is an MVT structure</p>
                                                    </div>
                                                    <div class="lesson-time">
                                                        <p class="grey-text text-small">8:34</p>
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                <!-- Lesson start -->
                                                <a href="" class="lesson mt-2">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/four_icon.svg" alt=""></i>
                                                            What are Architectures</p>
                                                    </div>
                                                    <div class="lesson-lock">
                                                        <img src="/static/img/icons/lock_icon.svg" alt="">
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                <!-- Lesson start -->
                                                <a href="" class="lesson">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/five_icon.svg" alt=""></i>
                                                            What are APIs</p>
                                                    </div>
                                                    <div class="lesson-lock">
                                                        <img src="/static/img/icons/lock_icon.svg" alt="">
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Module -->

                                    

                                    <!-- Start Module -->
                                    <div class="module">
                                        <div class="module-info">
                                            <h6 class="d-flex align-items-center">
                                                <i class="mr-1"><img src="/static/img/icons/a_icon.svg" alt=""></i>
                                                Introduction to Django
                                            </h6>
                                            <div class="dropdown-icon">
                                                <a href="#lessonDropdown4" data-toggle="collapse" data-parent="#accordion" class="icon">
                                                    <i><img src="/static/img/icons/dropdown_icon.svg" alt=""></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div id="lessonDropdown4" class="collapse">
                                            <div class="lessons mt-4">

                                                <!-- Lesson start -->
                                                <a href="" class="lesson mt-2">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/one_icon.svg" alt=""></i>
                                                            What is Financial Mathematics</p>
                                                    </div>
                                                    <div class="lesson-time">
                                                        <p class="grey-text text-small">14:34</p>
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                <!-- Lesson start -->
                                                <a href="" class="lesson mt-2">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/two.svg" alt=""></i>
                                                            What is Django</p>
                                                    </div>
                                                    <div class="lesson-time">
                                                        <p class="grey-text text-small">7:34</p>
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                <!-- Lesson start -->
                                                <a href="" class="lesson mt-2">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/three_icon.svg" alt=""></i>
                                                            What is an MVT structure</p>
                                                    </div>
                                                    <div class="lesson-time">
                                                        <p class="grey-text text-small">8:34</p>
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                <!-- Lesson start -->
                                                <a href="" class="lesson mt-2">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/four_icon.svg" alt=""></i>
                                                            What are Architectures</p>
                                                    </div>
                                                    <div class="lesson-lock">
                                                        <img src="/static/img/icons/lock_icon.svg" alt="">
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                <!-- Lesson start -->
                                                <a href="" class="lesson">
                                                    <div class="lesson-title">
                                                        <p><i class="mr-1 grey-text"><img
                                                                    src="/static/img/icons/five_icon.svg" alt=""></i>
                                                            What are APIs</p>
                                                    </div>
                                                    <div class="lesson-lock">
                                                        <img src="/static/img/icons/lock_icon.svg" alt="">
                                                    </div>
                                                </a>
                                                <!-- Lesson End -->

                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Module -->
                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var toggles = document.querySelectorAll('.icon');

            toggles.forEach(function(toggle) {
                toggle.addEventListener('click', function() {
                    var target = document.querySelector(this.getAttribute('href'));

                    toggles.forEach(function(otherToggle) {
                        if (otherToggle !== toggle) {
                            var otherTarget = document.querySelector(otherToggle.getAttribute('href'));
                            otherToggle.classList.remove('rotate');
                            otherTarget.classList.remove('show');
                        }
                    });

                    if (target.classList.contains('show')) {
                        this.classList.remove('rotate');
                    } else {
                        this.classList.add('rotate');
                    }
                });
            });

            $('.collapse').on('shown.bs.collapse', function() {
                var toggle = document.querySelector('a[href="#' + this.id + '"]');
                toggle.classList.add('rotate');
            });

            $('.collapse').on('hidden.bs.collapse', function() {
                var toggle = document.querySelector('a[href="#' + this.id + '"]');
                toggle.classList.remove('rotate');
            });
        });
    </script>
</body>

</html>