<div class="main-content">
    <section class="chart-section">
        <div class="chart-container">
            <div class="charts">
                <div class="welcome-card">
                    <div class="card">
                        <div class="title">
                            <h5>Welcome back Kreeck!</h5>
                        </div>
                        <div class="body">
                            <img src="/static/img/icons/welcome_icon.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="normal-card green-bg text-white ">
                    <div class="header">
                        <div class="left"><h6>Number of students</h6></div>
                        <div class="right">
                            <p> <i><img src="/static/img/icons/dropdown_icon.svg" alt=""></i>Yearly</p>
                        </div>
    
                    </div>
                    
                    <div class="bottom">
                        <div class="body">
                            <h1 class="text-bold">1,427</h1>
                            <div class="img-container">
                                <img src="/static/img/icons/studeent_icon.svg" alt="">
                                <img src="/static/img/icons/studeent_icon.svg" alt="">
                                <img src="/static/img/icons/studeent_icon.svg" alt="">
                                <img src="/static/img/icons/studeent_icon.svg" alt="">
                                <img src="/static/img/icons/studeent_icon.svg" alt="">
                                <img src="/static/img/icons/studeent_icon.svg" alt="">
                                <img src="/static/img/icons/more_students_icon.svg" alt="">
                            </div>
                        </div>
                        <h6>New Students</h6>
                    </div>
                </div>

                <div class="card ">
                    <div class="header"></div>
                    <div class="body"></div>
                    <div class="chart">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="revenue-chart">

        </div>
    </section>
    <section class="table-section">

    </section>
</div>


