body{
    background-color: #F8F8F8;
    font-family: "Poppins";
    color: #4B4B4B;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/inter');
@import url('https://fonts.cdnfonts.com/css/poppins');
.custom-navbar, li, .sidenav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    padding: 0.25rem 3rem 0.25rem 1rem;
    display: flex;
    gap: 0.6rem;
    width: max-content;
}
.custom-navbar, ul, li, a {
    margin: 0;
    gap: 0.5rem;
}
.custom-navbar, ul, li, a:hover {
    color: #65A98F;
    /* border-radius: 10px; */
}
.main-container{
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}
.sidenav{
    display: flex;
    left: 0;
    height: 100vh;
    width: auto;
    /* position: fixed; */
}
.fixed-sidenav-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.top-container{
    display: flex;
    flex-direction: column;
}
.bottom-container{
    display: flex;
}
.navigation-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0rem 2rem 0rem 0rem;
}
.left-top-navigation {
    display: flex;
}
.right-top-navigation{
    display: flex;
    gap: 2rem;
}
.jumbo{
    display: flex;
    align-items: baseline;
    gap: 1rem;
}
.green-text {
    color: #65A98F;
}

.text-bold{
    font-weight: 600;
}
.profile{
    display: flex;
    gap: 1rem;
    text-align: end;
    flex-direction: row;
}
h6{
    margin: 0;
}
.search-input{
    background-color: transparent;
    height: 2.6rem;
    border-radius: 8px;
    border: 2px solid #D1D1D1;
}


.m-0{
    margin: 0px;
}
.text-decoration{
    text-decoration: none;
}
.stats{
    padding: 0rem 1rem 0rem 1rem;
}
.split-container{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.main-content{
    padding: 0rem 2rem 0rem 0rem;
}

.main-content {
    margin-top: 9rem;
}
.video-container{
    max-width: 100%;
    height: auto;
    /* border-radius: 10px; */
}

.preview-video img {
    width: 100%;
    max-height: 800px;
    display: block;
    max-width: 100%;
    border-radius: 20px;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    object-position: center; /* Center the image */
}

.normal-text{
    color: #4B4B4B;
}
.buy-btn .btn {
    width: 100%;
    font-size: small;
    border-radius: 6px;
    font-weight: 500;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.performance-container{
    display: flex;
}
.performance .watched-lessons p{
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
}

.body-container{
    display: flex;
    width: 100%;
}

.module-title{
    display: flex;
    gap: 0.7rem;
    align-items: center;
}
.course-stats-container {
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    /* padding: 20px; */
}
.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.stats li {
     /* Adjust the basis for the desired width */
     flex: 1;
     display: flex;
     align-items: center;
     padding: 1rem;
     /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

.stats li i {
    margin-right: 10px;
}

.module {
    margin-bottom: 1rem;
    position: relative;
}
.module-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.module-info h6 {
    margin: 0;
}
.dropdown-icon {
    margin-left: auto;
}
.icon img {
    cursor: pointer;
    transition: transform 0.3s ease;
}
.icon.rotate img {
    transform: rotate(180deg);
}
.mr-1{
    margin-right: 0.6rem;
}

.lesson{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    color: #929292;
    font-weight: 500;
    font-size: 15px;
    transition: transform 0.3s ease;
    text-decoration: none;
}
.lesson:hover{
    color: rgb(70, 70, 70);
}

.active-green{
    background-color: #d3d3d3;
    border-radius: 6px;
    padding-right: 2rem;
}
.main-navigation-container {
    position: fixed;
    top: 0;
    left: 300px;
    width: calc(100% - 300px);
    background-color: #f8f9fa;
    z-index: 1001;
}


.right-sidenav {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    padding-top: 13rem;
    padding-right: 2rem;
}

.about-course{
    display: flex;
    gap: 2rem;
    background: #000;
    padding: 2rem;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.about-lecture{
    /* display: flex; */
    background-color: #000000;
    /* padding: 1rem; */
    border-radius: 10px;
    color: white;
    align-items: center;
}

.grey-text{
    color: #4B4B4B;
}

.lecture-profile .profile .info{
    text-align: center;
}

.white-text{
    color: white;
}

.text-xx{
    font-size: large;
}

.about-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.green-bg{
    background-color: #65A98F;
}

.card{
    padding: 1rem;
}

#charts-section{
    display: flex;
}

.chart-container .charts{
    display: flex;
    flex: 70%;
    gap: 1rem;
}

.welcome-card .card{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 100%;
    max-height: 200px;
    align-items: center;
}
.normal-card {
    padding: 1rem;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;

    height: 100%;
    max-height: 200px;
}

.img-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
}

.img-container img {
    margin-left: -16px; 
    height: auto;
}

.normal-card .header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.bottom .body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}