{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="header-title-xl text-center">Quiz form for {{ course }}</div>
    <div class="title-line mb-5"></div>

    <form action="" method="POST">

        
        {% csrf_token %}

        <div class="row">
            <div class="col-md-6">
                <div class="card p-3">
                    <div class="form-group" hidden>
                        {{ form.course }}
                        <span class="danger">{{ form.course.errors }}</span>
                    </div>
                    <div class="form-group">
                        {{ form.category|as_crispy_field }}
                        <span class="danger">{{ form.category.errors }}</span>
                    </div>
                    <div class="form-group">
                        {{ form.title|as_crispy_field }}
                        <span class="danger">{{ form.title.errors }}</span>
                    </div>
                    <div class="form-group">
                        {{ form.pass_mark|as_crispy_field }}
                        <span class="danger">{{ form.pass_mark.errors }}</span>
                    </div>
                    <div class="form-group">
                        {{ form.description|as_crispy_field }}
                        <span class="danger">{{ form.description.errors }}</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card p-3">
                    <div class="form-group" hidden>
                        {{ form.questions }}
                        <span class="danger">{{ form.questions.errors }}</span>
                    </div>
                    <div class="form-group">
                        {{ form.random_order|as_crispy_field }}
                        <span class="danger">{{ form.random_order.errors }}</span>
                    </div>
                    <div class="form-group">
                        {{ form.answers_at_end|as_crispy_field }}
                        <span class="danger">{{ form.answers_at_end.errors }}</span>
                    </div>
                    <div class="form-group">
                        {{ form.exam_paper|as_crispy_field }}
                        <span class="danger">{{ form.exam_paper.errors }}</span>
                    </div>
                    <div class="form-group">
                        {{ form.single_attempt|as_crispy_field }}
                        <span class="danger">{{ form.single_attempt.errors }}</span>
                    </div>
                    <div class="form-group">
                        {{ form.draft|as_crispy_field }}
                        <span class="danger">{{ form.draft.errors }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <button class="btn btn-lg btn-primary my-4" id="{% if form.is_valid %}btn-transition{% endif %}" type="submit">Save & Continue</button>
            </div>
        </div>

    </form>
</div>
{% endblock %}
